h1{
  color: white;
}
h2{
  color: white;
}
body {
  background-color: #2d2d2d;
}

div.c-wrapper{
    width: 95%; /* for example */
    margin: auto;
    z-index: -1;
    position: relative;
}

div.c-wrapper2{
    width: 95%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
